# Ignore IDE & build folders
/.idea/
/.vscode/
/target/

# Ignore Maven wrapper files
mvnw
mvnw.cmd

# Ignore OS specific files
*.log
*.tmp
*.bak
*.swp
.DS_Store

# Ignore sensitive config
project\complete\src\main\resources\application.yml
project\complete\src\main\resources\application.properties
# project\complete\src\main\resources\ca.pem
project\complete\target\classes\application.yml
project\complete\target\classes\application.properties
# project\complete\target\classes\ca.pem
# (optional) If you later use .env for secrets
.env
