# Ignore IDE & build folders
/.idea/
/.vscode/
/target/

# Ignore Maven wrapper files
mvnw
mvnw.cmd

# Ignore OS specific files
*.log
*.tmp
*.bak
*.swp
*.bin
*.lock
*.iml
.DS_Store

# Ignore sensitive config
src\main\resources\application.yml
src\main\resources\application.properties
src\main\resources\ca.pem
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
out/
project/complete/.gradle/
project/complete/build/

# (optional) If you later use .env for secrets
.env
