# Ignore IDE & build folders
/.idea/
/.vscode/
/target/

# Ignore Maven wrapper files
mvnw
mvnw.cmd

# Ignore OS specific files
*.log
*.tmp
*.bak
*.swp
.DS_Store

# Ignore sensitive config
src\main\resources\application.yml
src\main\resources\application.properties
src\main\resources\ca.pem
.gradle/8.7/checksums/checksums.lock
.gradle/8.7/executionHistory/executionHistory.lock
.gradle\8.7\executionHistory\executionHistory.lock
.gradle\8.7\fileHashes\fileHashes.lock
.gradle\buildOutputCleanup\buildOutputCleanup.lock
.gradle\8.7\checksums\checksums.lock
.gradle\8.7\fileHashes\fileHashes.lock
.gradle\buildOutputCleanup\buildOutputCleanup.lock
C:\Laptrinh\OOP_N03_25_DAT_VIETANH_GIAP\project\complete\.gradle\buildOutputCleanup\buildOutputCleanup.lock
# (optional) If you later use .env for secrets
.env
